<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FileContext" connectionString="Data Source=10.10.2.2;Initial Catalog=HEASFile;Integrated Security=false;Persist Security Info=True;User ID=sa;Password=2wsx002#EDC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <!--<add name="HEASContext" connectionString="Data Source=10.10.3.248;Initial Catalog=HEAS;Persist Security Info=false;User ID=sa;Password=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="IdentityContext" connectionString="Data Source=10.10.3.248;Initial Catalog=HEAS;Persist Security Info=false;User ID=sa;Password=sa;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->

    <add name="HEASContext" connectionString="Data Source=10.10.2.2;Initial Catalog=HEAS;Persist Security Info=false;User ID=sa;Password=2wsx002#EDC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="IdentityContext" connectionString="Data Source=10.10.2.2;Initial Catalog=HEAS;Persist Security Info=false;User ID=sa;Password=2wsx002#EDC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

  </connectionStrings>



  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImgFolder" value="D:\imgfolder" />
    <add key="PdfFolder" value="D:\pdffolder" />
    <add key="FileFolder" value="D:\FileFolder" />
    <add key="ResetPassword" value="a123456" />
    <add key="DoMain" value="cashare.cn" />
    <add key="LoginMode" value="" />
    <add key="LoginUrl" value="http://localhost:5216/" />
    <add key="SystemName" value="HEAS" />
    <add key="LoginKey" value="UserInfo" />
    <add key="Cryptokey" value="HSJF!@#$12345678" />
    <add key="CryptoIV" value="HSJF^%$#12345678" />
    <add key="hEASKEY" value="12345678" />
    <add key="hEASIV" value="12345678" />

    <!--第三方资金平台利率-->
    <add key="-ThirdPlatform-DianRong" value="10.00" />
    <add key="-ThirdPlatform-JuCaiMao" value="10.00" />
    <add key="-ThirdPlatform-MiGang" value="10.00" />
    <add key="-ThirdPlatform-WaCai" value="10.00" />

    <!--发送邮件相关-->
    <add key="emailHost" value="10.10.2.3:1237" />
    <add key="emailToken" value="G0QwjuKYN9mM75186gpAy2nV+qiC9eYPIg9o/Ch54m0=" />
    <add key="headerTplPath" value="./header-tpl.html" />
    <add key="bodyTplPath" value="./body-tpl.html" />
    <add key="receivers" value="zhaoli@cashare.cn" />
    <add key="subject" value="每日案件统计" />
    <add key="sender" value="" />
    <add key="syscode" value="HSJF.HEAS" />

  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms domain="cashare.cn" loginUrl="/Account/Login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="10485760" executionTimeout="3600" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="On" defaultRedirect="Home/Index">
      <error statusCode="403" redirect="Home/Failed" />
      <error statusCode="404" redirect="Home/Failed" />
      <error statusCode="500" redirect="Home/Failed" />
    </customErrors>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--10MB-->
        <requestLimits maxAllowedContentLength="12000000" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>