<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="FileContext" connectionString="Data Source=10.10.2.2;Initial Catalog=HEASFile;Integrated Security=false;Persist Security Info=True;User ID=sa;Password=2wsx002#EDC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="HEASContext" connectionString="Data Source=10.10.2.2;Initial Catalog=HEAS_UAT;Persist Security Info=false;User ID=sa;Password=2wsx002#EDC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="IdentityContext" connectionString="Data Source=10.10.2.2;Initial Catalog=HEAS_UAT;Persist Security Info=false;User ID=sa;Password=2wsx002#EDC;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImgFolder" value="D:\imgfolder" />
    <add key="PdfFolder" value="D:\pdffolder" />
    <add key="FileFolder" value="D:\FileFolder" />
    <add key="ResetPassword" value="a123456" />
    <add key="DoMain" value="cashare.cn" />
    <add key="LoginMode" value="SSL" />
    <!--SSL-->
    <add key="LoginUrl" value="http://10.10.2.3:1236/" />
    <add key="SystemName" value="HEAS" />
    <add key="LoginKey" value="UserInfo" />
    <add key="Cryptokey" value="HSJF!@#$12345678" />
    <add key="CryptoIV" value="HSJF^%$#12345678" />
    <add key="jinbanren" value="admin,daiyingjie,xuzhefeng,zhouning"/>
    <!--第三方资金平台利率-->
    <add key="-ThirdPlatform-DianRong" value="10.00" />
    <add key="-ThirdPlatform-JuCaiMao" value="10.00" />
    <add key="-ThirdPlatform-MiGang" value="10.00" />
    <add key="-ThirdPlatform-WaCai" value="10.00" />

    <!--HATS-->
    <add key="hats_host" value="http://localhost:12606/" />

    <!--世联估价接口-->
    <add key="ShiLianPriceService" value="http://10.10.2.3:7004/Price" />
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>


  <system.web>
    <authentication mode="Forms">
      <forms domain="cashare.cn" loginUrl="/Account/Login" timeout="2880" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="314600000" executionTimeout="36000" />

    <customErrors mode="Off" defaultRedirect="Home/Index">
      <error statusCode="403" redirect="Home/Failed" />
      <error statusCode="404" redirect="Home/Failed" />
      <error statusCode="500" redirect="Home/Failed" />
    </customErrors>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>