<div class="page-content">
    <div class="page-header">
        <h1><i class="icon-home"></i>&nbsp;首页</h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="alert alert-block alert-success">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-ok green"></i>&nbsp;&nbsp;&nbsp;
                <span id="Welcome_User_DisplayName"></span>
                欢迎使用
                <strong class="green">
                    泓申金服-贷前审批系统（HEAS）
                    <small>(v1.0)</small>
                </strong>
            </div>

            <div class="alert alert-block alert-danger">
                <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                </button>
                <i class="icon-warning-sign red"></i>&nbsp;&nbsp;&nbsp;
                注意！本系统为公司内部系统，未经授权，禁止使用。
            </div>

            <div class="row">
                <div class="col-lg-7">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat">
                            <h5>常见问题</h5>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div id="accordion" class="accordion-style1 accordion-style2 panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                            <i class="icon-angle-right bigger-110" data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
                                                            &nbsp;第一次使用本系统
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div class="panel-collapse collapse" id="collapseOne">
                                                    <div class="panel-body">
                                                        在您第一次登陆本系统后，请立即修改您的密码，并妥善保存。
                                                        修改方式：点击打开左侧【系统管理】菜单，并点击【修改密码】。
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                            <i class="icon-angle-right bigger-110" data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
                                                            &nbsp;为什么有些菜单或按钮看不到？
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div class="panel-collapse collapse" id="collapseTwo">
                                                    <div class="panel-body">
                                                        通常情况下，看不到某些菜单是因为您的帐户没有相应的权限。如对您的工作造成影响，请登录<a href="http://oa.cashare.cn" target="_blank">《OA系统》</a>，提交一个“帐户权限申请”的流程。流程审批通过后，技术人员会为您的帐户添加相应的权限，重新登录本系统后即可生效。
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                            <i class="icon-angle-right bigger-110" data-icon-hide="icon-angle-down" data-icon-show="icon-angle-right"></i>
                                                            &nbsp;忘记用户名或密码怎么办？
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div class="panel-collapse collapse" id="collapseThree">
                                                    <div class="panel-body">
                                                        <b>忘记用户名：</b>通常情况下，您帐户的名称为您姓名的拼音全拼，如遇特殊情况需联系技术人员帮助查询。<br />
                                                        <b>忘记密码：</b>忘记密码需登录<a href="http://oa.cashare.cn" target="_blank">《OA系统》</a>，提交一个“帐号信息修改申请”的流程。流程审批通过后，技术人员会将您帐户的密码重置为初始密码，并邮件通知。请于密码重置后尽快登录系统，并修改密码。
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="widget-box">
                        <div class="widget-header widget-header-flat">
                            <h5>技术支持</h5>
                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1">
                                        <div class="alert alert-block alert-warning text-center">
                                            系统使用中如发生程序错误或其他问题，请通过以下联系方式获取帮助。
                                        </div>

                                        <ul class="hs-contact-us">
                                            <li>
                                                <i class="icon-phone"></i>
                                                <strong>联系电话：</strong><a href="tel:02151714633">021-51714633 转2700</a>
                                            </li>
                                            <li>
                                                <i class="icon-envelope"></i>
                                                <strong>电子邮件：</strong><a href="mailto:it@cashare.cn">it@cashare.cn</a>
                                            </li>
                                            <li>
                                                <i class="icon-user"></i>
                                                <strong>系统管理员1：</strong>曹昱
                                            </li>
                                            <li>
                                                <i class="icon-envelope"></i>
                                                <strong>系统管理员邮箱：</strong><a href="mailto:caoyu@cashare.cn">caoyu@cashare.cn</a>
                                            </li>
                                            <li>
                                                <i class="icon-user"></i>
                                                <strong>系统管理员2：</strong>顾伟骏
                                            </li>
                                            <li>
                                                <i class="icon-envelope"></i>
                                                <strong>系统管理员邮箱：</strong><a href="mailto:guweijun@cashare.cn">guweijun@cashare.cn</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.page-content -->

<script language=javascript>
    var displayName = $("#HEAS_User_DisplayName").val();
    $("#Welcome_User_DisplayName").text("{0}，您好。".format(displayName));
//  console.log(displayName);
	if(typeof ActiveXObject!="undefined"){
		var WshShell = new ActiveXObject("WScript.Shell");
	    alert(WshShell.ExpandEnvironmentStrings("%COMPUTERNAME%"));
	    //这一句是用来得到用户的计算机名称
	    alert(WshShell.ExpandEnvironmentStrings("%USERNAME%"));
	    //这一句是用来得到用户名
	}
	
</script>